# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects
*.so
*.so.*

# Vim
*~
*.swp
*.swo

# Might include cscope.out or just temporary output files
*.out

# Any temporary files
*.tmp

# This projects executable directory
bin/
